html, body{
    background-color: #434a56;
    height: 100%;
}

#wrapper {
    min-height: 100%;
    margin-bottom: -40px;
    padding-bottom: 40px;
}

#login_button{
    text-decoration-color: white;
    background-color: #1DB954;
}

#login_button a {
    color: white;
  }

#login_button a:hover {
    color: #434a56;
    text-decoration: none;
}

.thumbnail a img {
    display:block;
    margin:auto;
}

#track_details a {
    color: pink;
}
#track_details a:hover {
    color: rgb(255, 110, 219);
}

#content {
    background-color: #586170;
    color: white;
}

#footer {
    color: gray;
    text-align: center;
    height:40px;
    width:100%;
 }
 
#footer a {
    color: white;
}

#footer a:hover {
    color: pink;
    text-decoration: none;
}