{% extends 'template.html' %}
{% block header %}
</br><center><h1>Statify</h1></center></br></br>
{% endblock %}

{% block content %}
<div class="container">
  <div class="center max900">
    <center>
      <div id="yeehaw"></div>
      <h1><a onclick="yeehaw()">🤠</a></h1>
  
      </br></br>

      <div id="login_button" class="container btn third padded">
        <h2><a href="{{ url_for('spotify_login') }}">Login with Spotify</a></h2>
      </div>
    </center>
  </div>
</div>
{% endblock %}


{% block scripts %}
<script>
function yeehaw() {
  document.getElementById("yeehaw").innerHTML = "yeehaw";
}
</script>
{% endblock %}