{% extends 'template.html' %}
{% block header %}
</br><center><h1>🤠</h1></center></br></br>
{% endblock %}

{% block content %}
<div class="container">
  <!-- Left side -->
  <div class="container quarter"></div>
  <!-- Middle (top tracks/artists) -->
  <div id="content" class="container half">
    {% if view == 'default' %}
      {% if 'items' in tracks %}
      <div id="tracks" class="container half">
        <h2 class="pink">Top Tracks</h2>
        {% for track in tracks['items'] %}    
        <div class="track container">
            <div class="thumbnail quarter">
                <img src="{{track['album']['images'][0]['url']}}">
            </div>
            <div id="track_details" class="threequarters">
              <a href="{{track.get('external_urls', {}).get('spotify')}}">{{track['name']}}</a>
              <br>by<br>
              <strong><a href="{{track['artists'][0].get('external_urls', {}).get('spotify')}}">{{track['artists'][0].get('name')}}</a></strong>
            </div>
        </div>
        {% endfor %} 
      </div>
      {% endif %}
      {% if 'items' in artists %}
      <div id="artists" class="container half">
        <h2 class="pink">Top Artists</h2>
        {% for artist in artists['items'] %}
          <div class="artist container">
              <div class="thumbnail third">
                  <img src="{{artist['images'][0]['url']}}">
              </div>
              <div class="details twothirds">
                <h4><a href="{{artist.get('external_urls', {}).get('spotify')}}">{{artist.get('name')}}</a></h4>
              </div>
          </div>
        {% endfor %}
      </div>
      {% endif %}
    {% endif %}
  </div>
  <!-- Right side (settings) -->
  <div id="settings" class="container quarter">
    
  </div>
</div>
{% endblock %}